<div class="body-section">
  <div class="create-post">
    <a href="/posts/create" class="create-post-btn">+ New Post</a>
  </div>
  {{#each posts}}
    <div class="post-container">
      <a href="/posts/edit/{{this.id}}" class="post-container-header">
        <div class="post-title">
          {{this.title}}
        </div>
        <div class="post-owner-date">
          Posted by {{this.user.username}} on {{this.createdAt}}
        </div>
      </a>
      <div class="post-container-body">
        {{this.text}}
      </div>
    </div>
    {{else}}
    <div class="post-container-body">No posts yet, add a post now</div>
  {{/each}}
</div>